<main>

    <section class="info text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Menu</h1>
          <h5 class="lead">Da salada mais fitness ao mais ogro dos hambúrgueres, para todos os gostos.</h5>
        </div>
      </div>
    </section>
  
    <div class="album bg-light">
      <div class="container">
  
        <div class="row">
          <div *ngFor="let item of listItems" class="main-card col-md-6">
            <div class="col">
              <div class="card shadow-sm">
                <img class="card-image" [src]="item.url" alt="item-image">
                
                <div class="card-body">
                  <h3 class="item-name"><i>{{ item.name }}</i></h3>
                  <p class="card-text">{{ item.description }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-add" (click)="addToOrder(item.id)">Adicionar ao pedido</button>
                      <button type="button" class="btn btn-sm btn-del" (click)="deleteItem(item.id)">Excluir Item</button>
                    </div>
                    <small class="text-muted">{{ item.price | currency: "BRL"}}</small>
                  </div>
                </div>
              </div>
            </div>    
          </div>
        </div>
        
      </div>
  
    </div>
    
  </main>